:root
{
    /* 全局变量 */
    --color-base: #f5f5f5;    /* 基本背景颜色 */
    --color-fill: #007bff;    /* 填充背景颜色 */
    --color-active: #0056b3;    /* 激活背景颜色 */
    --color-mask: #00000080;    /* 遮罩背景颜色 */
    --color-shadow: #0000001A;    /* 阴影背景颜色 */
    --color-shadow-darken: #00000080;    /* 加深阴影背景颜色 */

    --color-delete: #dc3545;    /* 删除颜色 */
    --color-delete-darken: #b02a37;    /* 删除图标加深颜色 */

    --border-radius: 5px;    /* 圆角半径 */

    --image-background: url('@/assets/Background.svg');    /* 网站背景图片 */
    --image-background-home: url('@/assets/Background-Home.svg');    /* 首页背景图片 */
    --image-background-auth: url('@/assets/Background-Auth.svg');    /* 登录/注册盒子背景图片 */
    --image-background-quest: url('@/assets/Background-Quest.svg');    /* 问卷背景图片 */

    --image-member-1: url('@/assets/member-1.jpg');
    --image-member-3: url('@/assets/member-3.jpg');
    --image-logo: url('@/assets/Logo.png');    /* LOGO */
}
